@page
@model NikeShop.pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<section id="main">
    <h1>We are Nike Shoes Sellers</h1>
    <p>
        Welcome to our online store, where we offer a wide selection of Nike shoes for men,
        women, and kids. We pride ourselves on providing high-quality products at affordable
        prices, making it easy for you to find the perfect pair of Nike shoes for your needs.

        Our inventory includes a range of styles, from classic sneakers to performance shoes 
        for running, training, and other athletic activities. We also carry a variety of 
        colors and sizes, so you can find the perfect fit and style to match your personal taste.

        In addition to our great selection of Nike shoes, we also offer fast and reliable shipping,
        so you can get your new shoes delivered right to your doorstep in no time. And if you have
        any questions or concerns about your order, our friendly customer service team is always 
        here to help.

        So why wait? Browse our selection of Nike shoes today and find your perfect pair!
    </p>
</section>
